
body {
        background-image: url(../imgs/background.jpg);
        background-repeat: repeat-x repeat-y;
        display: flex;
        align-items: center;
        align-content: center;
        
        
	}



  #titulo_clase{
    position: absolute;
    width: 300px;
    height: 40px;
    left: 30px;
    top: 188px;}

  #logo_clase{
    position: relative;
    left: 146px;
    top: 541px;}

  #menu_clase{
   position: absolute;
   left: 61px;
   top: 381px;}

   #menus_clase{
    position: absolute;
    left: 8px;
    top: 6px;}

   #plato_fuerte_clase{
    position: absolute;
    left: 8px;
    top: 95px; }

   #bebidas_clase{
    position: absolute;
    left: 8px;
    top: 150px; }

  #postres_clase{
   position: absolute;
   left: 8px;
   top: 205px;}

 #sangrias_clase{
   position: absolute;
   left: 8px;
   top: 260px;}

     

      
 


      





