
body {
        background-image: url(../imgs/background.jpg);
        background-repeat: repeat-x repeat-y;
        display: flex;
        align-items: center;
        align-content: center;
        
        
	}



     

      
 


      





